<div class="container">
    <div class="row">
        <div class="col s5 offset-s4">
        <!-- Card -->
        <div class="cardspe testimonial-card center">

            <!-- Background color -->
            <div class="card-up indigo lighten-1"></div>

            <!-- Avatar -->
            <div class="avatar mx-auto white">
                <img src="./assets/justin-img.jpg" class="rounded-circle" alt="justin avatar">
            </div>

            <!-- Content -->
            <div class="cardspe-body">
                <!-- Name -->
                <h4 class="cardspe-title">Justin MARTIN</h4>
                </br>
                <p><i class="material-icons">web</i>Web dev</p>
                <p><i class="material-icons">games</i>Game conceptor</p>
                <p><i class="material-icons">supervisor_account</i>Lead project</p>

                <hr>
                <!-- Quotation -->
                <p><i class="material-icons ">format_quote</i>Never give up ! (or just for valgrind) </p>
            </div>

        </div>
        <!-- Card -->
    </div>
    </div>

    <div class="row">
        <div class="col s5 offset-s1">
            <!-- Card -->
            <div class="cardspe testimonial-card center">

                <!-- Background color -->
                <div class="card-up indigo lighten-1"></div>

                <!-- Avatar -->
                <div class="avatar mx-auto white">
                    <img src="./assets/olivier2-img.jpg" class="rounded-circle" alt="justin avatar">
                </div>

                <!-- Content -->
                <div class="cardspe-body">
                    <!-- Name -->
                    <h4 class="cardspe-title">Olivier MILLOCHAU</h4>
                    </br>
                    <p><i class="material-icons">games</i>Game programmer</p>
                    <hr>
                    <!-- Quotation -->
                    <p><i class="material-icons ">format_quote</i>Tout est bon dans la crevette sauf la tête</p>
                </div>

            </div>
            <!-- Card -->
        </div>
        <div class="col s5 offset-s1">
            <!-- Card -->
            <div class="cardspe testimonial-card center">

                <!-- Background color -->
                <div class="card-up indigo lighten-1"></div>

                <!-- Avatar -->
                <div class="avatar mx-auto white">
                    <img src="./assets/felix2-img.jpg" class="rounded-circle" alt="justin avatar">
                </div>

                <!-- Content -->
                <div class="cardspe-body">
                    <!-- Name -->
                    <h4 class="cardspe-title">Felix DELESALLE</h4>
                    </br>
                    <p><i class="material-icons">games</i>Game conceptor</p>

                    <hr>
                    <!-- Quotation -->
                    <p><i class="material-icons ">format_quote</i>Les anchois les plus durs sont les meilleurs</p>
                </div>

            </div>
            <!-- Card -->
        </div>
    </div>
</div>